<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
</head>
<body>
<nav id="header">
      <!-- <div id="header"> -->
        <div class="header container">
            <div class="nav-bar  navbar-inverse">
                <div class="brand">
                    <a href="#J"><h1>Your Choice</h1></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                      <li><a href="/" data-after="/"><img src="https://img.icons8.com/nolan/64/home.png"/>  HOME</a></li>
                      <li><a href="/options/new" data-after="/options/new"><img src="https://img.icons8.com/nolan/64/create-new.png"/> CREATE OPTION</a></li>
                      <li><a href="/options"><img src="https://img.icons8.com/nolan/64/add-list.png"/> OPTION LIST</a></li>
                      <li><a href="/options/show"><img src="https://img.icons8.com/nolan/64/copyright.png"/> My CHOICE</a></li>
                                  <li>
                                    <% if (user) { %>
                                        <a class="logOut" href="/logout"> <img src="https://img.icons8.com/nolan/64/logout-rounded-left.png"/> Log Out</a>
                                    <% } else { %>
                                        <a class="logIn" href="/auth/google">Login with Google <img src="https://img.icons8.com/nolan/64/login-rounded-right.png"/></a>
                                    <% } %>
                                  </li>      
                    </ul>
                    
                    <script src="/javascripts/app.js"></script>
                  <!-- </div> -->
                </nav>
              
                


