<%- include('partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Choices</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home-Container">
      <div class="home">
        <h1 class="home-h1">Welcome</h1>
          <p class="home-p">Click below if you would like to create some options for yourself</p>
          <div class="home1Link">
            <a href="/options/new" type="button" class="homeLink">CREATE OPTIONS</a>
          </div>
      </div>
    </div>
  </body>


</html>

<%- include('partials/footer') %>





