<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Choices</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WELCOME</h1>
    <p>Click below if you would like to create some option for yourself </p>
    <a href="/options/new">CREATE OPTIONS</a>
    <a href="/options">OPTION LIST</a>
    <a href="/options/showAll">CHOICE LIST</a>
  </body>
</html>
