<%- include('partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Choices</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home-container">
      <div class="home">
        <h1 class="home">WELCOME</h1>
      </div>
        <p class="homeP">Click below if you would like to create some options for yourself </p>
      <div class="homeLink">
        <a href="/options/new" class="home1Link">CREATE OPTIONS</a>
      </div>
    </div>
  </body>

</html>

<%- include('partials/footer') %>



