body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(182, 164, 164);
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 70px;
  font-weight: bolder;
}

/* show all page css */
.showAllYourChoice {
  font-size: 80px;
  padding-left: 10%;
}

.showAllYourChoice:hover {
  color: green;
}

.showAllYourChoice1 {
  padding-top: 20px;
}

.showAllBorder {
  border: solid;
  border-width: 70px;
  border-bottom: 0;
  color: black;
}

.showAllBorder:hover {
  color: green;
}

.showAllDay {
  padding-left: 35%;
}

.showAllWeekday {
  font-size: 30px;
  color: black;
}

.showAllWeekdayChoice {
  font-size: 18px;
  text-align: center;
}

/* index page css */
.optionList {
  font-size: 100px;
}

.optionBorder {
  border: solid;
  border-bottom: 0;
  margin-top: 50px;
  border-width: 40px;
}

.optionBorder:hover {
  color: green;
}


.optionDay {
  padding-left: 35%;
}

.weekday {
  font-size: 25px;
  color: black;
}

.weekdayOption {
  font-size: 18px;
  color: black;
}

.optionListHeader {
  border: solid;
  border-width: 10px;
  margin-right: 40%;
  margin-left: 80px;
  border-radius: 15px;
  margin-top: 40px;
  padding-left: 30px;
}

.optionListHeader:hover {
  color: green;
}

a {
  color: black;
}

a:hover {
  color: green;
}

button {
  color: white;
  background-color: black;
}

button:hover {
  color: black;
  background-color:green;
}

/* home page css */
.home {
  font-size: 120px;
}

.home1 {
  margin-left: 23%;
  margin-top: 150px;
  color: black;
}

.homePara {
  font-size: 30px;
  padding-left: 10%;
  margin-top: -40px;
  color: black;
}

.homeLink {
  margin-left: 35%;
  padding-top: 10px;
}

.home1Link {
  font-size: 45px;
  color: black;
  text-decoration: none;
}

.home1Link:hover {
  color: green;
}

.HomeBorder {
  border: solid;
  border-width: 50px;
  padding-bottom: 60px;
  color: black;
}

.HomeBorder:hover {
  color: green;
}

/* new view css */
.newPage {
  margin-top: 10%;
}

.newOption {
  font-size: 70px;
  margin-left: 8%;
  font-weight: bolder;
  color: black;
  
}

.NewForm {
  margin-left: 26%;
  margin-top: 1%;
  
}

.newWeekday {
  padding-bottom: 10px;
  font-size: 30px;
  color: black;
}

.newDate {
  padding-bottom: 10px;
  font-size: 30px;
  color: black;
}

.newOptionList {
  padding-bottom: 10px;
  font-size: 30px;
  color: black;
}

.newAddOption {
  padding-bottom: 10px;
  font-size: 30px;
  padding-left: 200px;
}

.button:hover {
  color: green;
}

.button {
  font-size: 30px;
  border-radius: 10px;
}

.newBorder {
  border: solid;
  border-width: 50px;
  padding-bottom: 50px;
  color: green;
}

/* partials css */

.partials {
  padding-top: 20px;
  padding-left: 20px;
  background-color: green;
  padding-bottom: 10px;
}
