<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Option List</title>
</head>
<body>
    <a href="/">HOME</a>
    <a href="/options/new">CREATE OPTIONS</a>
    <a href="/options/show">CHOICE LIST</a>
  <h1>Option List</h1>
  <form action="/options/show" method="POST">
  <table>
    <thead>
      <tr>
        <th>Weekday</th>
        <th>Date</th>
        <th>Option list</th>
      </tr>
    </thead>
    <tbody>
        <% options.forEach(function(option) { %>
       
            <td><%= option.weekday %></td>
         <td><%= option.date.toLocaleString() %></td>
          <td><%= option.optionsList %></td>
          <td> 
                <input type="submit" value="Pick Option">
          </td>
    
        </tr>
        <% }); %>
    </tbody>
  </table>
</form>
</body>
</html>
