<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Options</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Options</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/options">OPTION LIST</a>
    <h2>Create Your List Of Options</h2>
<form action="/options" method="POST">
  <!-- <label>Weekday:
    <select name="weekday">
        <option value="MON">Monday</option>
        <option value="TUE">Tuesday</option>
        <option value="WED">Wednesday</option>
        <option value="THU">Thursday</option>
        <option value="FRI">Friday</option>
    </select>
  </label><br> -->
  <label>Date
      <input type="datetime-local" name="date">
  </label><br>
  <label>Option
    <input type="text" name="optionsList">
  </label><br>
  <input type="submit" value="Add Option">
</form>
</body>
</html>
</body>
</html>