<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Options</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Options</title>
</head>
<body>
    <div class="newBorder">
<div class="newPage">
    
    <h1 class="newOption">Create Your List Of Options</h1>

<form action="/options" method="POST">
    <div class="NewForm">
    <div class="newWeekday">
  <label>Weekday:
    <select name="weekday" class="button">
        <option value="MON">Monday</option>
        <option value="TUE">Tuesday</option>
        <option value="WED">Wednesday</option>
        <option value="THU">Thursday</option>
        <option value="FRI">Friday</option>
    </select>
  </label><br>
</div>

<div class="newDate">
  <label>Date
      <input type="datetime-local" name="date" class="button">
  </label><br>
</div>

<div class="newOptionList">
  <label>Option
    <input type="text" name="optionsList" class="button">
  </label><br>
</div>

<div class="newAddOption">
  <input type="submit" value="Add Option" class="button">
</div>
</div>
</form>
</div>
</div>
</body>
</html>

<%- include('../partials/footer') %>
