<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Option List</title>
</head>
<body>
  <h1>Choice List</h1>
  <table>
    <thead>
      <tr>
        <!-- <th>Weekday</th> -->
        <th>Date</th>
        <th>Option list</th>
      </tr>
    </thead>
    <tbody>
        <% options.forEach(function(option) { %>
        <tr>
         <td><%= option.date %></td>
          <td><%= option.optionsList %></td>
          <td><input type="submit" value="Add To My Choice List"></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</body>
</html>
