<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/options">OPTION LIST</a>
    <a href="/options/new">CREATE OPTION</a>
    <a href="/">HOME</a>
    <h1>Your Choice For The Day!</h1>
    <table>
        <thead>
          <tr>
            <th>Weekday</th>
            <th>Date</th>
            <th>Option list</th>
          </tr>
        </thead>
        <tbody>
            <!-- <% options.forEach(function(option) { %>
            <tr>
                <td><%= option.weekday %></td>
             <td><%= option.date.toLocaleString() %></td>
              <td><%= option.optionsList %></td>
            </tr>
            <% }); %> -->
        </tbody>
        </thead>
      </table>
</body>
</html>

