<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New option list</title>
</head>
<body>
    <a href="/">HOME</a>
    <a href="/choices">CREATE OPTIONS</a>
    <a href="/choices/show">CHOICES</a>

    <h1>Here's All Your Options</h1>

    <select name="weekdays">
        <option value="Weeday">MON</option>
        <option value="Weekday">TUE</option>
        <option value="Weekday">WED</option>
        <option value="Weekday">THUR</option>
        <option value="Weekday">FRI</option>
    </select>

    <h1 class="options">YOUR OPTIONS</h1>
    
</body>
</html>